#WACContainer.WACContainer .accordion-container {
  margin-top: 16px;
}

#WACContainer.WACContainer cds-accordion-item {
  // Let's show that you can customize the CSS of the accordion.
  color: #004144;
  --cds-focus: #004144;
}
