[submodule "assistant-dialog-skill-analysis"]
	path = ai-lifecyle/assistant-dialog-skill-analysis
	url = git@github.com:watson-developer-cloud/assistant-dialog-skill-analysis.git
[submodule "assistant-improve-recommendations-notebook"]
	path = ai-lifecycle/assistant-improve-recommendations-notebook
	url = git@github.com:watson-developer-cloud/assistant-improve-recommendations-notebook.git
