UPLOAD_TO_DISK=false
UPLOAD_TO_COS=true
AUDIO_WEBHOOK_SECRET='dummysecret'

## IBM COS Configuration
COS_API_KEY_ID='<API KEY ID>'
COS_BUCKET='<BUCKET>'
COS_ENDPOINT='https://s3.us-south.cloud-object-storage.appdomain.cloud'
COS_SERVICE_INSTANCE_ID='<CRN>'
PORT=4000