{
  "openapi": "3.0.0",
  "info": {
    "version": "0.0.0",
    "title": "MetaWeather API",
    "description": "MetaWeather provides an API that delivers JSON over HTTPS for access to our data.",
    "contact": {
      "url": "https://www.metaweather.com"
    }
  },
  "servers": [
    {
      "url": "https://www.metaweather.com"
    }
  ],
  "paths": {
    "/api/location/search/": {
      "summary": "Location Search",
      "get": {
        "summary": "Location Search",
        "parameters": [
          {
            "name": "query",
            "description": "Text to search for.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lattlong",
            "description": "Coordinates to search for locations near. Comma separated lattitude and longitude e.g. \"36.96,-122.02\".",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationParent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/location/{woeid}/": {
      "summary": "Location",
      "get": {
        "summary": "Location",
        "parameters": [
          {
            "name": "woeid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "404": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/location/{woeid}/{year}/{month}/{date}": {
      "summary": "Location Day",
      "get": {
        "summary": "Location Day",
        "parameters": [
          {
            "name": "woeid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1970
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 31
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Weather"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LocationParent": {
        "properties": {
          "title": {
            "type": "string",
            "description": "Name of the location"
          },
          "location_type": {
            "type": "string",
            "description": "City|Region / State / Province|Country|Continent"
          },
          "latt_long": {
            "type": "string",
            "pattern": "^[0-9]+([0-9]+)?,[0-9]+([0-9]+)?$"
          },
          "woeid": {
            "type": "integer",
            "description": "Where On Earth ID"
          },
          "distance": {
            "type": "integer",
            "description": "In Metres. Only returned on a lattlong search"
          }
        }
      },
      "Location": {
        "properties": {
          "title": {
            "type": "string"
          },
          "location_type": {
            "type": "string",
            "description": "City|Region / State / Province|Country|Continent"
          },
          "latt_long": {
            "type": "string",
            "pattern": "^[0-9]+([0-9]+)?,[0-9]+([0-9]+)?$"
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "description": "Time in location"
          },
          "sun_rise": {
            "type": "string",
            "format": "date-time"
          },
          "sun_set": {
            "type": "string",
            "format": "date-time"
          },
          "timezone_name": {
            "type": "string"
          },
          "parent": {
            "$ref": "#/components/schemas/LocationParent"
          },
          "consolidated_weather": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Weather"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          }
        }
      },
      "Weather": {
        "properties": {
          "id": {
            "type": "integer",
            "description": "Internal identifier for the forecast"
          },
          "applicable_date": {
            "type": "string",
            "format": "date",
            "description": "Date that the forecast or observation pertains to"
          },
          "weather_state_name": {
            "type": "string",
            "enum": [
              "Snow",
              "Sleet",
              "Hail",
              "Thunderstorm",
              "Heavy Rain",
              "Light Rain",
              "Showers",
              "Heavy Cloud",
              "Light Cloud",
              "Clear"
            ],
            "description": "Text description of the weather state"
          },
          "weather_state_abbr": {
            "type": "string",
            "enum": [
              "sn",
              "sl",
              "h",
              "t",
              "hr",
              "lr",
              "s",
              "hc",
              "lc",
              "c"
            ],
            "description": "One or two letter abbreviation of the weather state"
          },
          "wind_speed": {
            "type": "number",
            "description": "In mph"
          },
          "wind_direction": {
            "type": "number",
            "description": "In degress"
          },
          "min_temp": {
            "type": "integer",
            "description": "In centigrade"
          },
          "max_temp": {
            "type": "integer",
            "description": "In centigrade"
          },
          "the_temp": {
            "type": "integer",
            "description": "In centigrade"
          },
          "air_pressure": {
            "type": "number",
            "description": "In mbar"
          },
          "humidity": {
            "type": "number",
            "description": "In percentage"
          },
          "visibility": {
            "type": "number",
            "description": "In miles"
          },
          "predictability": {
            "type": "integer",
            "description": "In percentage. Our interpretation of the level to which the forecasters agree with each other - 100% being a complete consensus."
          }
        }
      },
      "Source": {
        "properties": {
          "title": {
            "type": "string",
            "description": "Name of the source"
          },
          "url": {
            "type": "string",
            "description": "URL of the source"
          }
        }
      }
    }
  }
}