{
  "openapi": "3.0.3",
  "info": {
    "description": "Minimal spec for commonly used features in watsonx.ai /generation API endpoint.  Missing lots of parameters.  See https://bam.res.ibm.com/docs/api-reference for details.",
    "title": "Simplified watsonx.ai generation API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://us-south.ml.cloud.ibm.com",
      "description": "watsonx.ai v1-beta"
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "x-apikey": {
            "tokenUrl": "https://iam.cloud.ibm.com/identity/token",
            "grantType": "urn:ibm:params:oauth:grant-type:apikey",
            "secretKeys": ["apikey"],
            "paramKeys": [],
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/ml/v1-beta/generation/text": {
      "post": {
        "description": "Generation",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Release date of the version of the API you want to use. Specify dates in YYYY-MM-DD format. The current version is `2023-05-29`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model_id", "input", "project_id"],
                "properties": {
                  "model_id": {
                    "type": "string",
                    "description": "The ID of the model to be used for this request. Please refer to the list of models at https://bam.res.ibm.com/docs/models",
                    "example": "google/flan-ul2"
                  },
                  "input": {
                    "type": "string",
                    "description": "The input is the prompt to generate completions. Note: The method tokenizes the input internally. It is recommended not to leave any trailing spaces."
                  },
                  "project_id": {
                    "type": "string",
                    "description": "id for the associated watsonx project.",
                    "minLength": 1,
                    "maxLength": 255,
                    "pattern": "^[a-zA-Z0-9_-]*$",
                    "example": "3e992422-d337-47f9-869a-0928e49a3ea6"
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "temperature": {
                        "type": "number",
                        "description": "The value used to module the next token probabilities. The range is 0.00 to 1.00, a value set to 0.00 would make it deterministic.",
                        "example": "0.7"
                      },
                      "max_new_tokens": {
                        "type": "number",
                        "description": "The maximum number of new tokens to be generated.",
                        "example": "150"
                      },
                      "min_new_tokens": {
                        "type": "number",
                        "description": "The minimum number of new tokens to be generated.",
                        "example": "50"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model_id": {
                      "description": "The ID of the model to be used for this request. Please refer to the list of models at https://bam.res.ibm.com/docs/models",
                      "type": "boolean"
                    },
                    "created_at": {
                      "description": "The date and time of the r",
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "generated_text": {
                            "description": "The generated text",
                            "type": "string"
                          },
                          "generated_token_count": {
                            "description": "The number of tokens in the output",
                            "type": "integer"
                          },
                          "input_token_count": {
                            "description": "The number of tokens in the input",
                            "type": "integer"
                          },
                          "stop_reason": {
                            "description": "The reason for stopping the generation.  Can be NOT_FINISHED - Possibly more tokens to be streamed, MAX_TOKENS - Maximum requested tokens reached, EOS_TOKEN - End of sequence token encountered, CANCELLED - Request canceled by the client, TIME_LIMIT - Time limit reached, STOP_SEQUENCE - Stop sequence encountered, TOKEN_LIMIT - Token limit reached, ERROR - Error encountered",
                            "type": "string"
                          }
                        }
                      },
                      "description": "Outputs of the generation"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    }
  }
}
