{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Hubspot Ticketing",
    "version" : "v3"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com",
    "description" : "Your hubspot support server"
  } ],
  "security" : [ {
    "BearerAuth" : [ ]
  } ],
  "paths" : {
    "/crm/v3/objects/contacts/{contactId}" : {
      "get" : {
        "summary" : "Get Contact by ID",
        "description" : "Get contact information by ID",
        "parameters" : [
          {
            "in" : "path",
            "name" : "contactId",
            "schema" : {
              "type" : "string"
            },
            "required" : true,
            "description" : "Numeric ID of the user"
          },
          {
            "in" : "query",
            "name" : "properties",
            "schema" : {
              "type" : "string",
              "default" : "membership_status,createdate,email,firstname,lastname,hs_object_id"
            },
            "required" : false,
            "description" : "Comma separated list of properties to return"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ContactsResponse" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ContactsResponseProperties"
          }
        }
      },
      "ContactsResponseProperties" : {
        "type" : "object",
        "properties" : {
          "createdate" : {
            "type" : "string",
            "description" : "Date contact was added"
          },
          "email" : {
            "type" : "string",
            "description" : "User's email address"
          },
          "firstname" : {
            "type" : "string",
            "description" : "User's first name"
          },
          "hs_object_id" : {
            "type" : "string",
            "description" : "User's hubspot ID"
          },
          "lastname" : {
            "type" : "string",
            "description" : "User's last name"
          },
          "membership_status" : {
            "type" : "string",
            "description" : "Custom property - the status of user's membership, bronze silver or gold"
          }
        }
      }
    },
    "securitySchemes" : {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}