{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Hubspot Ticketing",
    "version" : "v3"
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com",
    "description" : "Your hubspot support server"
  } ],
  "security" : [ {
    "ApiKeyAuth" : [ ]
  } ],
  "paths" : {
    "/crm/v3/objects/tickets" : {
      "post" : {
        "summary" : "Create Ticket",
        "description" : "Create a ticket for disputes",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/objects_tickets_body"
              },
              "example" : {
                "request" : {
                  "subject" : "Gandalf's First Angry Ticket",
                  "charge_amount" : "100",
                  "charge_name" : "fakeretail.com",
                  "charge_date" : "2020-05-08",
                  "hs_pipeline_stage" : "1"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "objects_tickets_body" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/crmv3objectstickets_request"
          }
        }
      },
      "crmv3objectstickets_request" : {
        "required" : [ "charge_amount", "charge_name", "charge_date", "subject", "hs_pipeline_stage" ],
        "type" : "object",
        "properties" : {
          "subject" : {
            "type" : "string",
            "example" : "Gimley's Dispute Ticket"
          },
          "charge_name" : {
            "type" : "string",
            "example" : "WalMart"
          },
          "charge_amount" : {
            "type" : "string",
            "example" : 100
          },
          "charge_date" : {
            "type" : "string",
            "example" : "2020-05-08"
          },
          "hs_pipeline_stage" : {
            "type" : "string",
            "example" : "1"
          }
        }
      },
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/inline_response_200_properties"
          }
        }
      },
      "inline_response_200_properties" : {
        "type" : "object",
        "properties" : {
          "hs_ticket_id" : {
            "type" : "string",
            "description" : "Ticket ID"
          }
        }
      }
    },
    "securitySchemes" : {
      "ApiKeyAuth" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      }
    }
  }
}