body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.WebChatContainer {
  position: absolute;
  width: 360px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.WebChatContainer--hidden {
  display: none;
}

#WACContainer.WACContainer .WebChatStyles {
  position: relative;
  transition: right 300ms ease-in-out;
}

#WACContainer.WACContainer .HideWebChat {
  display: none;
}

#WACContainer.WACContainer .StartOpenAnimation {
  transition: none;
  right: -360px;
}

#WACContainer.WACContainer .OpenAnimation {
  right: 0px;
}

#WACContainer.WACContainer .CloseAnimation {
  right: -360px;
}