body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.WebChatContainer {
  position: absolute;
  width: 380px;
  right: 0;
  top: 0;
  bottom: 0;
}

#WACContainer.WACContainer .WebChatStyles {
  position: relative;
  transition: right 500ms ease-in-out;
}

#WACContainer.WACContainer .HideWebChat {
  display: none;
}

#WACContainer.WACContainer .StartOpenAnimation {
  transition: none;
  right: -380px;
}

#WACContainer.WACContainer .OpenAnimation {
  right: 0;
}

#WACContainer.WACContainer .CloseAnimation {
  right: -380px;
}

/* The selectors below are for handling the opening/closing animations in the left direction. */

.WebChatContainer--left {
  left: 0;
  right: unset;
}

.WebChatContainer--left #WACContainer.WACContainer .WebChatStyles {
  position: relative;
  transition: left 500ms ease-in-out;
}

.WebChatContainer--left #WACContainer.WACContainer .StartOpenAnimation {
  transition: none;
  left: -380px;
  right: unset;
}

.WebChatContainer--left #WACContainer.WACContainer .OpenAnimation {
  left: 0;
  right: unset;
}

.WebChatContainer--left #WACContainer.WACContainer .CloseAnimation {
  left: -380px;
  right: unset;
}